*{
    font-family: "Poppins", sans-serif;
    margin: 0;

}
.header{
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    
    
}
#login{
    margin-left: auto;
    margin-right: 10px;
    list-style: none;
    color: #10B387;
    font-size: 14px;

}
nav ul{
    display: flex;
    margin-right: auto;
}
nav ul li{
    list-style: none;
    margin: 10px;
    font-size: 14px;
    color:#8E959B ;
    cursor: pointer;
}
nav button{
    background-color: #10B387;
    color : white;
    font-size: 12px;
    border-radius: 10px;
    border: none;
    outline: 0;
    padding: 15px 10px;
    margin-right: 5px;
}
/* HERO's section */
.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;

}
.hero h1 {
    font-size: 50px;
    text-align: center;
}

@media (max-width: 56rem){
    .hero h1{
        font-size: 35px;
    }
}
.hero p {
    color: #8E959B;
}
.hero button{
    background-color: #D8A31A;
    color: white;
    font-size: 15px;
    border-radius: 12px;
    padding: 2%;
    margin: 2%;
    border: none;
}
.customers{
    display: flex;
    align-items: center;

}
.customers img{
    margin: 2%;
}
.deserves{
    background-color: #F8F9FA;
    display: flex;
    align-items: center;
    margin-top: 5%;
    
}
.deserves img{
    margin: 5%;
    border-radius: 180px;

}


.description{
    padding-left: 10%;

}
.description h1{
    font-size: 50px ;
}
.description p{
    color: #8E959B;
}
.shrt{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 7%;

}
.grid{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 5%;
    
}
.grid div{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 45vh;
    width: 25vw;
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 15px;
    margin: 3%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

}
.shot1 p{
    font-size: 11px;
    color: #8E959B;

}
.shot2 p{
    font-size: 11px;
    color: #8E959B;

}
.shot3 p{
    font-size: 11px;
    color: #8E959B;

}
.signup{
    display: flex;
    background-color: #70530a;
    color: white;
    padding-left: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}
#here{
    margin-left: 4px;
    text-decoration: underline;
}
.featurestab{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F8F9FA;
    
}
.title{
    padding: 4%;
}
.features{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; /* Adds 20px space between each grid item */
    padding: 10px;
}
.features p{
    font-size: 12px;
}
footer{
    background-color: #F8F9FA;
}
.contacts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 5%;

}
.t{
    font-weight: bold;
    font-size: 32px;
}
.social{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 60vh;
    background-color: #85620a;
    color: white;
    
    
}
.companylinks{
    margin-left: auto;
    padding-right: 15%;
}
.links{
    margin-left: 50%;
    padding-bottom: 3%
   
}
.social p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.copy{
    background-color: #70530a;
    padding-left: 40%;
    color: #B9C2C9;
}
.p:hover{
    text-decoration: underline;
    cursor: pointer;
}

    

