* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    
    
}

body{
    width: 100dvw;
    overflow-x: hidden; 
    box-sizing: border-box;
    
    
    
}

.header {
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

#login {
    margin-left: auto;
    margin-right: 10px;
    list-style: none;
    color: #10B387;
    font-size: 20px;
    transition: 0.1s ease-in;
}

#login:hover {
    cursor: pointer;
    color: #D8A31A;
    
}

nav ul {
    display: flex;
    margin-right: auto;
    padding-left: 5% ;
}

nav ul li {
    list-style: none;
    margin: 10px;
    font-size: 16px;
    color: #8E959B;
    cursor: pointer;
    transition: 0.2s ease-in;
    
}

nav ul li:hover {
    color: #D8A31A;
}

nav button {
    background-color: #10B387;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    outline: 0;
    padding: 15px 10px;
    margin-right: 5px;
    transition: 0.5s ease-in;
}

nav button:hover {
    cursor: pointer;
    color: #D8A31A;
    border-radius: 40px;
}

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5% 15%;
}

.hero h1 {
    font-size: 40px;
    text-align: center;
    padding: 6%;
}

.hero p {
    color: #8E959B;
}

.hero button {
    background-color: #D8A31A;
    color: white;
    font-size: 30px;
    border-radius: 12px;
    padding: 2%;
    margin: 2%;
    border: none;
    transition: 0.3s ease-in;
}

.hero button:hover {
    border-radius: 40px;
    color: #10B387;
    cursor: pointer;
}

.customers {
    display: flex;
    align-items: center;
}

.customers img {
    margin: 2%;
}

.deserves {
    background-color: #F8F9FA;
    display: flex;
    align-items: center;
    margin-top: 5%;
    
    
}

.deserves img {
    border-radius: 180px;
    
}


.description h1 {
    font-size: 50px;
    padding-left: 2%;
}

.description p {
    color: #8E959B;
    padding-left: 2%;
}

.shrt {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 7%;
}

.grid {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 5%;
    width: 100%;
}

.grid div {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 25vw;
    padding-top: 6%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 15px;
    margin: 3%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.grid h2 {
    font-size: 20px;
}

.shot1 p,
.shot2 p,
.shot3 p {
    font-size: 15px;
    color: #8E959B;
}

.signup {
    display: flex;
    background-color: #70530a;
    color: white;
    padding-left: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#here {
    margin-left: 4px;
    text-decoration: underline;
}

#here:hover {
    cursor: pointer;
    color: #10B387;
}

.featurestab {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F8F9FA;
}

.title {
    padding: 4%;
    color: rgb(106, 160, 223);
}

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 10px;
}

.features h4 {
    font-size: 20px;
}

.features p {
    font-size: 12px;
}

footer {
    background-color: #F8F9FA;
    height: 80vh;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60%;
    background-color: white;
    padding: 5%;
}





.social {
    display: flex;
    justify-content: flex-end;
    height:40%;
    padding: 5%;
    background-color: #85620a;
    color: white;
}
.social div{
    padding: 2%;
}

.social p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.copy {
    background-color: #70530a;
    text-align: center;
    color: #B9C2C9;
}

.p:hover {
    text-decoration: underline;
    cursor: pointer;
}
.side-drawer {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    transition: right 0.3s ease;
    z-index: 20;
    
   
}
#nav-links{
    padding-left: 10%;
}
.side-drawer ul{
    margin-top: 20%;
    margin-right: 5%;
}
.side-drawer ul li{
    list-style: none;
    color: #8E959B;
    
    
}
.side-drawer ul li:hover{
    color: #D8A31A;
    text-decoration: none;
    user-select: none;

    

}
.side-drawer li{
    list-style: none;
    user-select: none;
    align-self: center;
    color: #10B387;

}
.side-drawer li:hover{
    color: #D8A31A;

}
#log{
    padding-top: 10%;
    font-size: 25px;
}
#button{
    margin-top: 30%;
    padding: 5%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 15px;
    background-color:#10B387;
    color: white;
    font-size: 25px;
    transition: 0.3s ease-in-out;
}
#button:hover{
    color:#D8A31A;
    border-radius: 30px;
}
#lb{
    border-bottom: 1px solid #8E959B;
    padding-bottom: 3%;
}
.cl{
    display: flex;
    justify-content: flex-end;
    padding: 2%;
    
    

}
#close{
    font-size: 25px;
    color: red;
    
    padding: 3%;
    font-weight: bold;
    user-select: none;
  
}
#close:hover{
    font-size: 30px;
}

.active {
    right: 0;
}
.inactive{
    right: -100%
}

.side-drawer li {
    margin: 15px 0;
    font-size: 1.2rem;
}

/* Media Queries */
@media (min-width: 800px) {
    .ham{
        display: none;
    } 
    .grid {
        flex-direction: row;
        align-items: center;
    }
    .grid div {
        width: 80vw;
        height: auto;
    }
}

@media (max-width: 801px) {
    .header{
        /* padding-top: 5%;
        padding-bottom: 3%; */
    }
    .logoimg{
        width: 50px;
    }
    #login{
        font-size: 18px;
    }
    #login:hover{
        
        color: #D8A31A;
    }
    nav ul {
        display: none; /* Hide nav items on smaller screens */
    }
    nav button {
        display: none;
    }
    .ham{
        display: block;
        padding: 2%;
        
        transition: 0.2s ease-in;
    }
    .ham:hover{
        width: 36px;
    }
    
    .customers img {
        width: 5px;
    }

    
    .features {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (max-width: 480px) {
  
    
    .hero h1 {
        font-size: 40px;
        padding-top: 10%;
        
    }
    .hero p{
        font-size: 15px;
    }
    .hero button{
        font-size: 30px;
        padding: 8%;
        margin-top: 5%;
        margin-bottom: 25%;

    }
    .customers img{
        width: 70px;
    }
    .deserves{
        padding-left: 5%;
        padding-right: 10%;
        display: block;
    }
    
    .deserves img{
        width: 100%;

    }
    .description h1 {
        font-size: 35px;
    }
    .shrt h1{
        padding-left: 10%;
        font-size: 30px;

    }
    .shot1 p,
.shot2 p,
.shot3 p {
    font-size: 9px;
}
    .grid{
        display: block;
    }
    .grid div {
        width: 90%;
        padding: 5%;
        margin-top: 5%;
        height: auto;
    }
    .features {
        grid-template-columns: 1fr;
    }
    .signup{
        /* width: 100%; */
        font-size: 12px;
    }
    .featurestab{
        /* width: 100%; */
        padding-left: 15%;
        margin-left: 2%;
    }
    
    .p{
        font-size: 10px;
    }
    
    .contacts{
        display: flex;
        flex-direction: column;
    }
    

    
}
